//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
//- See LICENSE in the project root for license information.

extends layout

block content

  .ms-CommandBar
    .ms-CommandBar-items
      a.ms-Link(href='/') Home
    .ms-CommandBar-items.ms-CommandBar-sideCommands
      .ms-font-s #{user.microsoftAccountName}
  .ms-Grid        
    .ms-Grid-row
      .ms-NavBar
        .ms-NavBar-items
          .ms-font-xl.ms-fontColor-themePrimary #{section.name}
          .ms-font-l Your recent notes
          .ms-font-m     
            .ms-Grid
              each page in pages
                .ms-Grid-row
                  p #{page.id}
                  p !{test}
            .ms-Grid
              .ms-Grid-row
                a.ms-Link(href='/graph/getMyPages') Create note
              .ms-Grid-row
                a.ms-Link(href='/graph/getMyPages') Edit note
              .ms-Grid-row
                a.ms-Link(href='/graph/getMyPages') Delete note