//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
//- See LICENSE in the project root for license information.

extends layout

block content

  .ms-Grid
    .ms-Grid-row
      .ms-NavBar
        //- if current
          h1.ms-font-xl.ms-fontColor-themePrimary Welcome #{current.displayName}!
        if !current        
          h1.ms-font-xl.ms-fontColor-themePrimary Welcome!
          h2.ms-font-l Your actions
          div.ms-font-m           
            ul
              li
                  a.ms-Link(href='https://github.com/microsoftgraph') See upcoming appointments
              li
                  a.ms-Link(href='https://github.com/microsoftgraph') Schedule an appointment          
              li
                  a.ms-Link(href='/graph') Open your journal
        else
          h1.ms-font-xl.ms-fontColor-themePrimary Welcome to the Contoso Patient Portal
          p.ms-font-m Please #[a.ms-Link(href='/login') log in] to continue to the site.