doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= 'Contoso Hospital Patient Portal'
    block css
      link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/fabric-core/4.0.0/fabric.min.css')
      link(rel='stylesheet', href='https://appsforoffice.microsoft.com/fabric/fabric-js/1.0.0/fabric.components.min.css')
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
