//- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
//- See LICENSE in the project root for license information.

extends layout

block content

  .ms-Grid
    .ms-Grid-row
      .ms-NavBar
          if             
            h1.ms-font-xl.ms-fontColor-themePrimary Your schedule
            div.ms-font-m.indent           
              .ms-Grid
                .ms-Grid-row
                  p This month ...
                .ms-Grid-row
                  p Next month ...